@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Custom Styling === */
html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f9fafb;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(107, 114, 128, 0.7);
}
