@tailwind base;
@tailwind components;
@tailwind utilities;

/* small extra */
:root {
  --cream-50: #fbf7f5;
}
.bg-cream-50 {
  background-color: var(--cream-50);
}

/* make textarea placeholder color subtle */
textarea::placeholder {
  color: rgba(107, 114, 128, 0.6); /* tailwind gray-500/60 */
}
